---
import Container from "../../ui/Container.astro";
import {Image} from "astro:assets";
import HeroImage from "../../../assets/my-img.jpeg"
import SectionHeader from "../../ui/SectionHeader.astro";
import {Download} from "@lucide/astro"
import {getCollection} from "astro:content";
import Button from "../../ui/Button.astro";
const about = await getCollection("about");
const aboutContent = about[0];
---

<section id="about" class="py-16">
    <Container>
        <SectionHeader
                title="2.&nbsp;About"
                subtitle={aboutContent?.data.headline}
        />

        <div class="mt-20 flex justify-center items-start gap-32 ">
            <div class="max-w-[40vw]">
                <div class="space-y-3">
                    {aboutContent && aboutContent.data.summary.map((paragraph) => (
                            <p>{paragraph}</p>
                    ))}
                </div>
                <a href="/Youness-El-Mesbahy.pdf" target="_blank" class="inline-block mt-6">
                    <Button>
                        <Download size="1.25rem"/>
                        &nbsp; Download CV
                    </Button>
                </a>
            </div>
            <div class="relative">
                <div class="max-h-[20.83vw] max-w-[20.83vw] overflow-hidden flex items-center justify-center bg-carbon-700 rounded-lg">
                    <Image src={HeroImage} alt="HeroImage"/>
                </div>
                <div
                        class="max-h-[20.83vw] max-w-[20.83vw] min-h-[20.83vw] min-w-[20.83vw] absolute rounded-lg z-[-1] border-primary border-2 top-0 left-0 translate-x-6 translate-y-6"
                >
                </div>

            </div>
        </div>
    </Container>
</section>



