---
import Section from "../Section.astro";
import {getCollection} from "astro:content";
import ExperienceEntry from "./Experience/ExperienceEntry.astro";
const education = await getCollection("education");
---

<Section
        id="education"
        title="2.&nbsp;Education"
        subtitle="Lorem Ipsum is simply dummy text of the printing and typesetting"
>
    <div class="flex gap-12 items-start mt-20 justify-center">

        <div class="w-8 h-64 bg-carbon-1400 mr-12 "></div>

        <div class="space-y-14">
            {education.map((entry) => (
                    <ExperienceEntry
                            dateRange={`${entry.data.startYear} - ${entry.data.endYear ?? "Present"}`}
                            title={entry.data.heading}
                            company={entry.data.institution}
                            location={entry.data.location}
                            heading={entry.data.title}
                    >
                        {entry.data.descriptionBlocks.map((block) => (
                                <ul class="list-disc pl-5 space-y-1">
                                    {block.items.map((item) => (
                                            <li>{item}</li>
                                    ))}
                                </ul>
                        ))}
                    </ExperienceEntry>
            ))}
        </div>
    </div>
</Section>



