---
import {Building, MapPin} from "@lucide/astro";

const {
    dateRange,
    title,
    company,
    location,
    heading,
} = Astro.props;
---

<div class="flex gap-16">
    <div>
        <p class="font-light">{dateRange}</p>
        <h3 class="text-xl my-[10px] font-semibold">{title}</h3>
        <p class="flex items-center gap-2 mb-2">
            <Building size="18px"/>
            <span class="">{company}</span>
        </p>
        <p class="flex items-center gap-2">
            <MapPin size="18px"/>
            <span class="">{location}</span>
        </p>
    </div>
    <div class="">
        <h4 class="text-lg font-semibold mb-4 mt-6">{heading}</h4>
        <slot />
    </div>
</div>
