---
import { Building, MapPin } from '@lucide/astro'

const { dateRange, title, company, location, heading } = Astro.props
---

<div class="flex">
  <div class="sticky top-[40vh] flex h-fit items-center justify-between">
    <div
      class="bg-carbon-200 dark:bg-carbon-1500 mr-16 h-[0.9375rem] w-[0.9375rem] rounded-full shadow-[0_0_0_0.5rem_var(--bg-milk)]"
    >
    </div>
  </div>
  <div class="flex max-[888px]:block">
    <div class="mr-20 text-nowrap sticky max-[888px]:relative max-[888px]:top-0 top-[40vh] h-fit">
      <p class="font-light">{dateRange}</p>
      <h3 class="text-primary my-[0.625rem] text-xl font-semibold">{title}</h3>
      <p class="mb-2 flex items-center gap-2">
        <Building size="1.125rem" />
        <span class="">{company}</span>
      </p>
      <p class="flex items-center gap-2">
        <MapPin size="1.125rem" />
        <span class="">{location}</span>
      </p>
    </div>
    <div class="">
      <h4 class="mt-6 mb-4 text-lg font-semibold">{heading}</h4>
      <div class="max-w-[35.16vw]">
        <slot />
      </div>
    </div>
  </div>
</div>
