---
import {Building, MapPin} from "@lucide/astro";

const {
    dateRange,
    title,
    company,
    location,
    heading,
} = Astro.props;
---

<div class="flex">
    <div class="flex items-center h-fit justify-between sticky top-[40vh]">

    <div class="bg-carbon-200 dark:bg-carbon-1500 rounded-full w-[15px] h-[15px]   shadow-[0_0_0_8px_var(--bg-milk)]  mr-16"></div>
    <div class="text-nowrap mr-20">
        <p class="font-light">{dateRange}</p>
        <h3 class="text-xl my-[10px] font-semibold text-primary">{title}</h3>
        <p class="flex items-center gap-2 mb-2">
            <Building size="18px"/>
            <span class="">{company}</span>
        </p>
        <p class="flex items-center gap-2">
            <MapPin size="18px"/>
            <span class="">{location}</span>
        </p>
    </div>
    </div>
    <div class="">
        <h4 class="text-lg font-semibold mb-4 mt-6">{heading}</h4>
        <div class="w-[540px]">
            <slot/>
        </div>
    </div>
</div>
